.btn-modern:hover {
    font-size: x-large;
    transform: translateY(-5px);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background-color: cyan;
    color: violet;
    transition: 40ms;
}